DATABASE_URL=postgresql://postgres:postgres@localhost:5431/sia_gestor
JWT_SECRET=z7Hs5Es5gB6NbXtrZJWt6Bhm3y10giyXEy1mEPvDXNtAdQcS3/z93LLhU4PjHzFcJYweIytMYqugciOnQtYGCA==
PORT=8080
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Admin@2026!
NODE_ENV=development
